<!--  Here is the main HTML where handlebars will render to -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/cssbootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" >
        <title>Eat Da Burger</title>
    </head>
    <body>
    main.handlebars
        {{{ body }}}
    </body>
</HTML>