<div class="container">

    <h1 class="text-center">Burgers!</h1>
    <img class="img-responsive center-block" src="assets/img/burger.jpg">

</div>


<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Burgers that are ready to be eaten!</h3>
      </div>
      <div class="panel-body">
        <ul>
          {{#each burger}}
            {{#unless devoured}}
              <li>
                {{burgerName}}
                <form action="burger/eaten/{{id}}?_method=PUT" method="POST">
                  <input type="hidden" name="devoured" value="true">
                  <button type="submit">Devour Burger!</button>
                </form>
              </li>
              <hr>
            {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Burgers that have been devoured!</h3>
    </div>
    <div class="panel-body">
      <ul>
        {{#each burger}}
          {{#if devoured}}
            <li>
              {{burgerName}}
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
    </div>
   </div>
</div>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Add a Burger</h2>
    </div>
    <div class="panel-body">
      <form class="create-update-form" action="burger/create" method="POST">
        <div class="form-group">
          <label for="burger">Burger Name:</label>
          <input type="text" id="burger" name="name">
        </div>
        <button type="submit">Order a Burger</button>
      </form>
    </div>
  </div>
</div>